 /**************************************************
 GENERAL 
 ***************************************************/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-square: #cfedfb;
    --color-tile: #f6cd97;
    --color-dl: #30abcc;
    --color-dw: #f04e52;
    --color-tl: #45ce5d;
    --color-tw: #fa732b;
    --color-tile-text: #000;
    --color-square-text: #FFF;

    --size-square: 37px;
    --size-square-gap: 4px;
    --size-tile: 55px;

    --font-stack: sans-serif;

    --font-size: calc(0.4 * var(--size-square));

}

.container {
    display: flex;

}

.game-area {
    width: 60%;
}

.stats-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

 /**************************************************
 BOARD 
 ***************************************************/
 .board {
    display: grid;
    grid-template-rows: repeat(15, var(--size-square));
    grid-template-columns: repeat(15, var(--size-square));
    gap: var(--size-square-gap);
    width: calc(15 * var(--size-square) + 15 * var(--size-square-gap));
    margin: 0 auto;
    user-select: none;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-square); 
    color: var(--color-square-text);
    font-size: var(--font-size);
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
}

.square--dl {
    background-color: var(--color-dl);
}

.square--dw {
    background-color: var(--color-dw);
}

.square--tl {
    background-color: var(--color-tl);
}

.square--tw {
    background-color: var(--color-tw);
}


 /**************************************************
 * TILE RACKS
 ***************************************************/
.tile-area {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    max-width: 600px;

    border: 1px solid red;
}

.player-rack {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}

.player-rack__slot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.tile {
    background-color: var(--color-tile);
    color: var(--color-tile-text);
    width: var(--size-tile);
    height: var(--size-tile);
    font-family: var(--font-stack);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.tile__letter {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em;
}

.tile__point-value {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.6em;
}

/* Shrink tile to fit when on square */
.square .tile {
    position: absolute;
    width: 100%;
    height: 100%;
}

 /**************************************************
 * STATS AREA
 ***************************************************/
.player-card {
     margin: 20px;
}



/**************************************************
* BUTTONS
***************************************************/
button {
    padding: 20px;
    margin: 10px;
}


/**************************************************
* ANIMATIONS
***************************************************/
@keyframes popOut {
    from {
        border: none;
    }

    to {
        border: 2px solid var(--color-tile-text);
        transform: scale(1.5);
        z-index: 1;
    }
}

.pop-out {
    animation: popOut 0.2s forwards;
}


.hidden {
    display: none;
}